/*COLORS:
#8FC7FF - tamnija svetloplava
#A8D4FF - svetloplava
#5282B3 - ljubicasta ----- #45719e dve nijanse tamnija za dugmice
#B38940 - tvrdja braon
#FFD68F - oker
rgb(240, 240, 240) - pozadina za svaku drugu sekciju
*/


/*---------------BASIC SETUP---------------*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html,body{
    background-color: #fff;
    color: rgb(68, 68, 68);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
html{scroll-behavior: smooth;}

/*--------------REUSABLE---------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 60px 0;
}
.col{
    padding:0 1% ;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*---------------HEADER---------------*/

header{
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7),rgb(0, 0, 0,0.7)), url(../images/stolarija-bg.jpg);
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgb(0, 0, 0,0.7))), url(../images/stolarija-bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgb(0, 0, 0,0.7)), url(../images/stolarija-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    position: relative;
}
.logo{
    width: 10%;
    float: left;
    margin-top: 15px;
    
}
header nav{
    float: right;
}
.basic-nav{
    list-style-type: none;
    margin-top: 55px;
}
.basic-nav li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px;
}
.basic-nav li:last-child{
    margin-right: 0;
}
.hero-image{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
    width: 1140px;
}
h1 > span{
    font-weight: 400;
}
/*------------------LINKS-----------------*/
a:link,
a:visited{
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
a:hover,
a:active{ border-bottom: 2px solid #8FC7FF; }


/*---------------PARAGRAPHS--------------------*/

p{
    font-weight: 300;
}

.p-offer{
    font-size: 110%;
    font-weight: 300;
    width: 70%;
    margin: 10px auto 20px auto;
    text-align: center;
}



/*---------------HEADERS--------------------*/
h1,
h2,
h3{
    text-transform: uppercase;
    font-weight: 300;
    line-height: 135%;
}
h1{
    font-size: 250%;
    letter-spacing: 2px;
    word-spacing: 4px;
}
h2{
    font-size: 200%;
    word-spacing: 3px;
    margin:30px 0;
    text-align: center;
}
h2::after{
    display: block;
    content: "";
    width: 150px;
    height: 2px;
    background-color: #5282B3;
    margin: 0 auto;
    margin-top: 30px;  
}
h3{
    font-size: 120%;
    line-height: 125%;
    margin-bottom: 15px;
}

/*---------------ICONS--------------------*/
.icon-big{
    display: inline-block;
    font-size: 330%;
    color: #8FC7FF;
    margin: 25px 0 10px 0;
}


/*---------------BUTTONS--------------------*/

.btn:link,
.btn:visited{
    padding: 10px 14px;
    margin-right: 30px;
    border: 2px solid #5282B3;
    border-radius: 200px;
    color:white;
    background-color: #5282B3;
    -webkit-transition: border 0.2s, background-color 0.2s;
    -o-transition: border 0.2s, background-color 0.2s;
    transition: border 0.2s, background-color 0.2s;
}
.btn:hover,
.btn:active{
    border: 2px solid #45719e;
    background-color: #45719e;
}
.btn-full:link,
.btn-full:visited{padding: 10px 22px;}

.btn-ghost:link,
.btn-ghost:visited{
    color: #5282B3;
    background-color: transparent;
    -webkit-transition: color 0.2s background-color 0.2s;
    -o-transition: color 0.2s background-color 0.2s;
    transition: color 0.2s background-color 0.2s;
}
.btn-ghost:hover,
.btn-ghost:active{
    color: #fff;
    background-color: #45719e;
}



/*---------------SECTION-IMG-GRID--------------------*/
.section-grid-images{
    padding: 0;
}
.imgs-wrapper{
    width: 100%;
    height: auto;
}
.imgs-wrapper .col{
    width: 25%;
    margin: 0;
    padding: 0;
}
.img-wrapper{
    width: 100%;
    overflow:hidden;
    background-color: black;
    margin: 0;
}
.imgs-wrapper img{
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.20);
        -ms-transform: scale(1.20);
            transform: scale(1.20);
    opacity: 0.7;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.img-wrapper:hover img{
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 1;
}


/*---------------SECTION-WORKS--------------------*/

.section-works{
    background-color: rgb(240, 240, 240);
}
.works-step1{
    text-align: right;
}

.logo-2{
    width: 90%;
    margin-left: 30%;
    margin-top: 7px;
}

.works-seclusion{
    margin-left: 5%;   
    margin-bottom: 50px;
}
.works-seclusion:first-child{
    margin-top: 45px;
}
.works-seclusion:last-of-type{
    margin-bottom: 60px;
}
.rounded-number{
    float: left;
    margin-right: 30px;
    height: 55px;
    width: 55px;
    text-align: center;
    padding-top: 6px;
    padding-right: 1.5px;
    color: #5282B3;
    border: 2px solid #5282B3;
    border-radius:50% ;
    font-size: 150%;
    font-weight: 300;
}
.btn-app{
    margin-left: 28px;
}
.btn-app img{
    height: 50px;
    width: auto;
}
.btn-app:first-child{margin-right: 10px;}
.btn-app:link,
.btn-app:visited {
    border: none;
}